:root {
	--brand-blue: #7aa2f7;
	--brand-dark-blue: #1b1c26;
	--dark-blue-background: #26262D;
}

.jet-font {
	font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-blue {
	color: var(--brand-blue);
}

.bg-brand-dark-blue {
	background-color: var(--brand-dark-blue);
}

.border-brand-blue {
	border-color: var(--brand-blue);
}

.help {
	background-color: var(--dark-blue-background);
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes glitch-text {
	0% {
		text-shadow: 2px 2px #ff00de, -2px -2px #00fff9;
	}

	25% {
		text-shadow: -2px 2px #ff00de, 2px -2px #00fff9;
	}

	50% {
		text-shadow: 2px -2px #ff00de, -2px 2px #00fff9;
	}

	75% {
		text-shadow: -2px -2px #ff00de, 2px 2px #00fff9;
	}

	100% {
		text-shadow: none;
	}
}

#logo.intro-glitch {
	animation: glitch 0.3s 3, glitch-text 0.5s 1;
	display: inline-block;
}